@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tenor-sans-regular.font16pt{
    font-size: 16pt;
}

.tenor-sans-regular.font24pt{
    font-size: 24pt;
}

.tenor-sans-regular.font10pt{
    font-size: 10pt;
}